.brand .one2{
    font-size: 16px;
    text-transform: capitalize;
}
.brand .one2 .in{
    color: var(--color-secand);
    text-transform: lowercase;
}
.brand .one2 .in2{
    text-transform: capitalize;
}
.brand .number{
    font-size: 20px;
}
.brand .btn{
    padding: 20px 30px;
}
.brand .black{
    background-color: black;
}
.brand .blue{
    background-color: rgba(0, 0, 255, 0.612);
}
.brand .men{
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--color-secand);
    width: fit-content;
    margin-bottom: 20px;
    margin-inline-start: 2px;
}
.brand .qty{
    font-size: 16px;
    text-transform: capitalize;
}
.brand .coun{
    padding: 8px 14px;
    background-color: var(--color-btn);
    margin-inline-end: 10px;
    margin-inline-start: 10px;
}
.brand .remove{
    background-color: var(--color-secand);
    padding: 12px 50px;
}
.brand .remove:hover{
    background-color: var(--color-btn);
}
/* brand sec style end */


/* desc sec style end */
.desc .desctext .nav{
    margin: auto;
    width: 36%;
}
.desc .desc2{
    background-color: var(--color-btn);
    padding: 30px 40px;
}
.desc .desctext .nav .nav-item .active{
   color: var(--color-primary); 
}
.desc .desctext .nav li .nav-link{
    text-transform: capitalize;
    color: var(--color-of-border);
    font-family:Prata-Regular;
    transition: all .5s;
    font-size: 20px;
}
.desc .desctext .nav li .nav-link:hover{
    color: var(--color-primary);
}
.desc .desctext .tab-content .tab-pane .one{
    font-size: 14px;
    padding-top: 20px;
    font-family:Rubik-Regular;
}
.desc .desctext .tab-content .tab-pane ul li{
    color: var(--color-of-border);
    padding: 8px 0;
    list-style: inherit;
}
.desc .desctext .tab-content .tab-pane .custom{
    padding: 20px 30px;
    border: 1px solid var(--color-primary);
    position: relative;
}
.desc .desctext .tab-content .tab-pane .custom h3{
    font-size: 20px;
}
.accordion-button2{
    width: 20%;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 45px;
    font-size: 14px;
    color: var(--color-primary);
    padding: 20px 0;
    border: none;
    text-transform: capitalize;
}
.accordion-item{
    background-color: transparent;
}
.accordion-body{
    border-top: 1px solid var(--color-primary);
    color: var(--color-primary);
}
.accordion-body h3{
    font-size: 10px;
}
.accordion-body label{
   text-transform: capitalize;
   display: block;
   padding-top: 20px;
   padding-bottom: 10px;
}
.accordion-body input{
    width: 100%;
    padding: 10px;
}
.accordion-body textarea{
    width: 100%;
    padding: 20px;
}
/* desc sec style end */


/* how sec style start */
.accordion-item{
    border-color: transparent;
    background-color: var(--color-btn);

}
.how .accordion-button{
    background-color: transparent;
    border-color: transparent;
    margin-top: 20px;
    color: var(--color-secand);
}
.how p{
    color: var(--color-primary);
    font-size: 14px;
    line-height: 2.3;
}














/* how sec style end */
